*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
Bebr.Core/Build/
Bebr.Engine/Build/
Bebr.GL/Build/
Bebr.GUI/Build/
Bebr.System/Build/
Bebr.Window/Build/
ImGui/Build/
Run/Build/
Run/Source/imgui.ini
